$brand-blue: #7ea0f8;
$brand-green: #7ddcb8;
$brand-teal: #6aeafc;
$brand-red: #ee6662;
$brand-pink: #ed67a5;
$brand-white: #fff;
$brand-gray: #f4f6fa;
$brand-medium-gray: #eef0f4;
$brand-dark-gray: #333;

$headline-font: 'Montserrat', sans-serif;
$body-copy: 'Roboto', sans-serif;

h1 {
  font-family: $headline-font;
  font-size: 26px;
  color: $brand-dark-gray;
}